html{
    font-size: 20px;
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: black;
}

.container{
    width: 50%;
    margin: 0 auto;
    color: white;
}
gnb{
    text-align: center;
    font-family: 'HSYuji-Regular';
    font-size: 1.2em;
}

.introduce{
    text-align: center;
    margin: 100px 0;
}
.introduce img{
    width: 30%;
    transform: rotate(-20deg);
    
}
.introduce h2{
    font-family: 'ONE-Mobile-POP';
    font-size: 3em;
}
.introduce p{
    font-family: 'GowunDodum-Regular';
}



@font-face {
    font-family: 'HSYuji-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSYuji-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}